# =========================
# ENVIRONNEMENTS VIRTUELS
# =========================
env/
venv/
ENV/
qhse360-env/
.virtualenvs/

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# DJANGO
# =========================
*.log
media/

# =========================
# STATIC FILES
# =========================
staticfiles/

# =========================
# ENV VARIABLES
# =========================
.env
.env.*

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# MIGRATIONS (optionnel)
# =========================
# migrations/
# !migrations/__init__.py